!!!
%html
  %head
    %title New Earth Project
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    
    = stylesheet_link_tag "application", media: "all"

    =# yield :head
    
  %body
    #wrap
      
      =# render 'layouts/top_menu'
      
      =# render partial: 'layouts/flash_messages', flash: flash

      =# render 'layouts/header'
      =# render 'layouts/breadcrumbs'

      #content
        .inner-wrap
          = yield

      =# render 'layouts/footer'

    =# render 'layouts/analytics'
